/* -Global page layout
-----------------------------------------------------------------------------*/
.root {
  padding: 20px;
}

.app {
  max-width: rem(800px);
  margin: 0 auto;
}

.app-text {
  max-width: rem(650px);
}
