/* -Global page layout
-----------------------------------------------------------------------------*/
.root {
  padding: $page-padding;
}

.app {
  max-width: rem($page-width);
  margin: 0 auto;
}

.perf-info {
  @include theme-tint-shade-transparent(color, 0.7);

  margin-bottom: 1em;
  font-size: rem(14px);
  font-style: italic;
}
