/* -Fieldset alternative
-----------------------------------------------------------------------------*/
.field-group-label {
  margin: 0 0 5px;
  font-size: rem(14px);
  font-weight: $font-weight-bold;
}
