/* -The main kanji table
-----------------------------------------------------------------------------*/
.main-table {
  th:first-child {
    padding-left: 15px;
    padding-right: 25px;
  }
  .no-results {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}
